<h3>最近追加された楽曲</h3>

<% Track.last(10).each_slice(5) do |slice_tracks| %>
  <div class='row'>
    <% slice_tracks.each do |t| %>
      <%= render 'tracks/track', track: t %>
    <% end %>
  </div>
<% end %>

<p> <%= link_to 'もっと見る', tracks_path, style: 'color: white;' %> </p>


<h3>最近追加されたプレイリスト</h3>

<% Playlist.last(10).each_slice(5) do |slice_playlists| %>
  <div class='row'>
    <% slice_playlists.each do |t| %>
      <%= render 'playlists/playlist', playlist: t %>
    <% end %>
  </div>
<% end %>

<p> <%= link_to 'もっと見る', playlists_path, style: 'color: white;' %> </p>
