<h5> マイページ </h5>

<h2><%= @user.name %></h2>

<h5> アップロード楽曲一覧 </h5>

<% @tracks.each_slice(4) do |slice_tracks| %>
  <div class='row'>
    <% slice_tracks.each do |t| %>
      <%= render 'tracks/track', track: t %>
    <% end %>
  </div>
<% end %>


<h5> 作成プレイリスト一覧 </h5>

<% @playlists.each_slice(4) do |slice_playlists| %>
  <div class='row'>
    <% slice_playlists.each do |t| %>
      <%= render 'playlists/playlist', playlist: t %>
    <% end %>
  </div>
<% end %>
